/*Header*/
:root {
    --morado: #b48fd3dc;
    --fondo: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fondo);
    font-family: 'Open Sans', sans-serif;
}

header .contenedor {
    width: 90%;
    margin: auto;
}

header {
    padding: 30px 0;
}

header .contenedor {
    display: flex;
    align-items: center;
}

header .logotipo {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: var(--morado);
    font-size: 40px;
    text-align: center;
}


header nav a {
    color: #AAA;
    text-decoration: none;
    margin-left: 20px;
}

header nav a:hover {
    color: #FFF;
}

header .box{
    position: absolute;
    top: 10%;
    right: 6%;
    transform: translate(-1%,-1%);
}
header .box .input {
    padding: 10px;
    width: 50px;
    height: 50px;
    background: none;
    border: 4px solid var(--morado);
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: var(--morado);
    outline: none;
    transition: .5s;
}
header .box:hover input{
    width: 350px;
    background: #272133;
    border-radius: 10px;
}
header .box i{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: var(--morado);
    transition: .2s;
}
header .box:hover i{
    opacity: 0;
    z-index: -1;
}

/*Main*/

main .pelicula-principal-info-matrix {
    font-size: 16px;
    min-height: 40.62em;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 100%);
    background-position: center center;
    background-size: cover;
    margin: 4.25em;
    padding: 1.25em;
    border-radius: 20px;
    border: transparent;
    box-shadow: #b48fd3dc 0px 5px 15px;
}

main .pelicula-principal-info-matrix .box {
    margin-bottom: 5.25em;
    display:-webkit-flex; 
	display: -ms-flexbox; 
	display: flex;
}

main .pelicula-principal-info-matrix .informacion-img-peli {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

main .pelicula-principal-info-matrix .informacion-img-peli img {
    width: 300px;
}

main .informacion-peli {
    padding-top: 100px;
}




main .pelicula-principal-info-matrix .titulo {
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
    text-align: center;
}

main .pelicula-principal-info-matrix .subtitulo {
    color: var(--morado);
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 0.4em;
    text-align: center;
}

main .pelicula-principal-info-matrix .descripcion {
    font-size: 1em;
    line-height: 1.75em;
    margin-bottom: 1.25em;
    margin-left: 10%;
    margin-right: 10%;
}

main .pelicula-principal-info-matrix .boton {
    background: rgba(0, 0, 0, .5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: white;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}

main .botones-box {
    text-align: center;
}

main .pelicula-principal-info-matrix .boton:hover {
    background: white;
    color: #000;
}

main .pelicula-principal-info-matrix .boton i {
    margin-right: 1.25em;
}

main .peliculas-recomendadas .contenedor {
    margin-bottom: 50px;
}

main .contenedor-titulo-controles {
    display: block;
    text-align: center;
    font-size: 2em;
}

main .menu_container {
    justify-content: center;
}

main .menu_content {
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 100%);
    background-position: center center;
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3, 74, 40, .15);
    padding: .75rem;
}

main .menu_trailer {
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 100%);
    background-position: center center;
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3, 74, 40, .15);
    padding: .75rem;
}

main .menu_img {
    width: 100px;
    align-self: center;
    margin-bottom: 1rem;
    color: white;
}

main .menu_name {
    font-weight: 600;
    color: white;
}

main .menu_name {
    font-size: .938rem;
}

main .menu_detail {
    font-size: .813rem;
    color: white;
}

main .menu_detail {
    margin-bottom: .5rem;
}

main .menu_button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: 10px 97px;
}

main .button {
    display: inline-block;
    background-color: #06c9cfdc;
    color: #fff;
    padding: .50rem 1rem;
    border-radius: .5rem;
    transition: .3s;
}

main .button:hover {
    background-color: #06c8cf94;
}

main .tk-grid {
    display: grid;
    gap: 1.5rem;
}

/* --- --- ---- Media Queries ---- --- ---*/

@media screen and (max-width: 800px) {

    .pelicula-principal-info-matrix {
        font-size: 14px;
        background-size: cover;
    }

    .pelicula-principal-info-matrix .descripcion {
        max-width: 100%;
    }

    .pelicula-principal-info-matrix .titulo {
        max-width: 100%;
    }

    .pelicula-principal-info-matrix .subtitulo {
        max-width: 100%;
    }

    .pelicula-principal-info-matrix .director {
        max-width: 100%;
    }

    .peliculas-recomendadas .contenedor-galeria {
        overflow: visible;
    }

    .peliculas-recomendadas .contenedor-galeria .galeria .menu_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    iframe {
        width: 320px;
        height: 196.25px;
    }

    .pelicula-principal-info-matrix .boton {
        margin-bottom: 10px;
    }

}


/*Footer*/

footer {
    padding: 20px;
    background-color: black;
    color: white;
}

footer .caja-pie {
    margin-top: 20px;
    text-align: center;
}

footer .datos-inc {
    margin-right: 40px;
}

footer .euro {
    margin-left: 30px;
}

footer img {
    padding-right: 15px;
}

footer .facebook,
footer .twitter,
footer .instagram,
footer .whatsapp {
    width: 5%;
    margin-bottom: 20px;
    /*filter: invert(72%) sepia(62%) saturate(3446%) hue-rotate(218deg) brightness(95%) contrast(108%);*/
    filter: invert(12%) sepia(73%) saturate(3136%) hue-rotate(278deg) brightness(84%) contrast(119%);
}

.footer-link {
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    margin-left: 175px;
}

footer .ul-footer1,
.ul-footer2,
.ul-footer3,
.ul-footer4 {
    text-align: left;
    display: inline-block;
}

footer .ul-footer1 {
    margin-left: 150px;
}

footer .ul-footer2 {
    margin-left: 35px;
}

footer .ul-footer3 {
    margin-left: 50px;
}

footer .ul-footer4 {
    margin-left: 130px;
}

footer .caja-link {
    margin-bottom: 50px;
}

footer .caja-datos-footer {
    text-align: center;
}

footer a {
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .caja-principal {
    padding-top: 10px;
    border-top: 1px solid white;
}

footer b {
    font-size: 1.2em;
}