<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleWeb.css">
    <title>Cinema - WEB</title>
</head>

<body>

    <header>
        <div class="contenedor">
            <h2 class="logotipo"><img src="image/logo-cnm.png" alt="" width="100px"></h2>
            <nav>
                <a href="index.html" class="activo">Inicio</a>
                <a href="index.html">Peliculas</a>
            </nav>
            <div class="box">
                <form name="search">
                    <input type="text" class="input" name="txt" onmouseout="document.search.txt.value = ''">
                </form>
                <i class="fas fa-search"></i>
            </div>
        </div>


    </header>

    <!----------------------------------------------->

    <main>
        <div class="pelicula-principal-info-matrix" th:each="cinema: ${tipos_cinema}">
            <div class="box">
                <div class="informacion-img-peli">
                    <img th:src="${cinema.imagen}">
                </div>

                <div class="informacion-peli">
                    <h3 class="titulo" th:text="${cinema.titulo}"></h3>
                    <h5 class="subtitulo" th:text="${cinema.anyo}"></h5>
                    <p class="descripcion" th:text="${cinema.sinopsis}"></p>
                    <div class="botones-box">
                        <a href="#yt"><button role="button" class="boton" onclick="onModel1()"><i
                                    class="fas fa-play"></i>Reproducir</button></a>
                        <a href="#person"><button role="button" class="boton"><i class="fas fa-info-circle"></i>Más
                                información</button></a>
                    </div>
                </div>

            </div>
            <div class="peliculas-recomendadas contenedor">
                <div class="contenedor-titulo-controles">
                    <h3 id="yt">Tráiler</h3>
                </div>

                <div class="contenedor-principal">

                    <div class="contenedor-galeria">
                        <div class="galeria">
                            <div class="menu_container tk-grid">

                                <div class="menu_trailer">
                                    <iframe width="840" height="472.5" th:src="${cinema.video}"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

</main>


        <!----------------------------------------------->

        <footer>
            <div class="caja-link">
                <ul>
                    <span class="footer-link">Contacto</span>
                    <span class="footer-link">Quienes somos</span>
                    <span class="footer-link">Trabaja con nosotros</span>
                    <span class="footer-link">Aviso legal</span>
                </ul>
            </div>
            <a class="redes" href="https://es-es.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a class="redes" href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a>
                <a class="redes" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <div class="caja-principal">
                <div class="caja-datos-footer">
                    <span><a href="">© 2022 Cinema,Inc.</a> <b> · </b> <a href="">Privacidad</a> <b> · </b> <a
                            href="">Condiciones</a> <b> · </b> <a href="">Mapa del sitio</a> <b> · </b> <a href="">Datos
                            de la
                            empresa</a></span>
                </div>
                <div class="caja-pie">
                    <span class="datos-inc"><a href="">Español(ES)</a><a class="euro" href="">€ EUR</a></span>
                </div>
            </div>
        </footer>

        <script src="https://kit.fontawesome.com/da327203e1.js" crossorigin="anonymous"></script>

</body>

</html>